{
    "plugins": [
        ["transform-runtime", 
            {
                "helpers": false,
                "polyfill": true
            }
        ],
        ["transform-decorators-legacy"]
    ],
    "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "react",
        "stage-0"
    ]
}